@model BancoChiloe.Models.Cuenta

@{
    ViewData["Title"] = "Editar cuenta";
}

<div class="container">

    <h3>@ViewData["Title"]</h3>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TipoCuenta" class="control-label"></label>
                    <select asp-for="TipoCuenta" class="form-control" asp-items="Html.GetEnumSelectList<TipoCuenta>()"></select>
                    <span asp-validation-for="TipoCuenta" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FechaApertura" class="control-label"></label>
                    <input asp-for="FechaApertura" class="form-control" readonly />
                    <span asp-validation-for="FechaApertura" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SaldoInicial" class="control-label"></label>
                    <input asp-for="SaldoInicial" class="form-control" />
                    <span asp-validation-for="SaldoInicial" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Saldo" class="control-label"></label>
                    <input asp-for="Saldo" class="form-control" />
                    <span asp-validation-for="Saldo" class="text-danger"></span>
                </div>

                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-outline-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Volver</a>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
