@model BancoChiloe.Models.AppUser

@{
    ViewData["Title"] = "Eliminar Usuario";
}

<div class="container">
    <h3 class="text-danger">@ViewData["Title"]</h3>
    <h3 class="text-danger">¿Seguro deseas eliminar este usuario?</h3>
    <div>        
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
          
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="Id" />
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" />
            <a asp-action="Index">Volver</a>
        </form>
    </div>
</div>